<mat-card>
    <mat-card-content class="user-detail-header">
        <img src="./assets/img/avatar.png">
        <div class="user-details">
            <h2> {{ user.firstName }} {{ user.lastName }}</h2> <br>
            {{ user.email }}
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <button class="pin-right-upper-corner" (click)="openAddressDialog()" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>