<mat-card>
    <mat-card-content class="user-detail-header">
        <button class="pin-right-upper-corner" mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="editUserDetail()">Edit</button>
        </mat-menu>

        <img src="./assets/img/avatar.png">
        <div class="user-details">
            <h2> {{ user.firstName }} {{ user.lastName }}</h2> <br>
            {{ user.email }}
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <button class="pin-right-upper-corner" mat-icon-button [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>